cmake-build-debug
cmake-build-default
cmake-build-release
.vscode
*.o
*.txt
*.sh
!CMakeLists.txt
*/build
/build
*.obj
*.pdb
*.idb
*.ilk
*.ipch
*.log
*.tlog
*.cache
*.user
*.suo
*.tmp
.vs/
*.VC.db
*.VC.VC.opendb
*.opendb
Debug/
Release/
x64/
build/
*.msi
*.exe
!setup.exe
!setup.msi
*.sln
*.vcxproj
*.vcxproj.filters
*.vdproj